doctype html

script.
   async function post(url, objekt) {
        let options = {
            method : "POST",
            body : JSON.stringify(objekt),
            headers : {'Content-Type': 'application/json'}
        }
        const respons = await fetch(url, options);
        if (respons.status !== 201) // Created
            throw new Error(respons.status);
        return await respons.text();
    }

    async function get(url, objekt) {
        let options = {method : "GET"};
        const respons = await fetch(url, options);
        if (respons.status !== 200) // Created
            throw new Error(respons.status);
        return await respons.json();
    }

    async function startGame () {
        try {
             let name = document.querySelector("#PlayerName").value;
             await post("http://" + window.location.hostname + ":11111/loadGame", { name: name });
             window.location.href = "http://" + window.location.hostname +":11111/game";
        } catch (e) {
            console.error("Error:", e);
        }
    }

   async function statUpdate () {
        try {
             let name = document.querySelector("#StatisticsName").value;
             let data = await get("http://" + window.location.hostname + ":11111/" + name + "/Statistics");
             for (const statistic of data) {
                document.querySelector("#" + statistic.id).innerHTML = statistic.value;
             }
        } catch (e) {
            console.error("Error:", e);
        }
    }

html
    head
        title Homepage
        style 
            include mops.css
    body
        H1 Velkommen til Yatzy
        .Main
            .Left
                .Start-Game
                    p Start spil:
                    .input#StartInput
                        input.Name#PlayerName(type="text", name="", placeholder="Navn")
                        button.Btn#StartBtn(onclick="startGame ()") Go!
                .Statistics
                    p Statistikker: 
                    .input#StatInput
                        input.Name#StatisticsName(type="text", name="", placeholder="Navn")
                        button.Btn#StatBtn(onclick="statUpdate()") See Stats                  
                    table.Leaderboard#Stat
                        thead 
                            tr
                                th Hvad
                                th Hvor meget
                        tbody
                            each statistic in statistics
                                tr 
                                    td #{statistic.name}
                                    td(id = statistic.id)

            .Right
                .Information
                    p Scoreboard: 
                    table.Leaderboard#Score
                        thead 
                            tr
                                th Navn 
                                th Antal 0'er
                                th Score
                        tbody
                            each user in games
                                tr 
                                    td #{user.name}
                                    td #{user.zeros}
                                    td #{user.score}